{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Products
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <h3>Количество новостей: {{ news|length }}</h3>

   <hr>
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Описание</td>
           </tr>

           {% for post in news %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.data_create|date:"d/m/Y" }}</td>
               <td>{{ post.text|truncatewords:21|censor }}</td>
           </tr>
           {% endfor %}

       </table>
{% endblock content %}